.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

body{
  background-color: #EFEBDF;
  color: #222222;
  font-family: Lucida Grande,arial,helvetica,sans-serif;
  background-color: #121212;
  font-size: 85%;
  line-height: 17px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, label {
  color: #1B314F;
}

/* Global styles */
ul {
  margin: 0px;
  padding: 0px;
}

dim {
  color: #888;
}

table{
  font-size: 1em;
}

dt{
  float: left;
  margin-right: 10px;
  }

form textarea{
  height: 75px;
}

label{
  float: left;
  width: 135px;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
}

a.button,
input.button,
#main div#title_box #title_actions a {
  color:#333;
  cursor:pointer;
  display:block;
  float:left;
  text-decoration:none;
  width:auto;
  font-weight: normal;
  font-size: 0.9em;
  background:#DDDDDD url(/images/bg-button.gif) repeat-x scroll 0 0;
  border-left:1px solid #BBB;
  border-top:1px solid #AAA;
  border-bottom:1px solid #BBB;
  border-right:1px solid #AAA;
  margin: 0;
  padding: 3px 7px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-family: arial, sans-serif;
}

a.button:hover,
input.button:hover,
#main div#title_box #title_actions a:hover {
  border-color:#99CCFF !important;
  color:#000000;
  cursor:pointer;
}


/* Styles for main page */

#banner {
  font-weight: bold;
  width: 100%;
  background: url("/images/n1.gif");
  padding: 10px 0;
}

#banner .title {
  float: left;
  color: white;
  margin: 10px 20px;
  font-size: 1.7em;
  background:#121212 none repeat scroll 0 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px 30px;
  opacity: 0.7;
}

#banner h1.title small.swip_label{
  font-weight: normal;
  font-size: 0.5em
}

#banner .links {
  float: right;
  margin-right: 10px;
  color: white;
  opacity: 0.8;
  margin: 10px 30px;
  width: 300px;
}

#banner .links small {
  float: right;
  font-weight: normal;
  margin: 13px 0 0 8px;
}

#banner .links small a{
  margin-left: 5px;
}

#banner .links .groups_list {
  position: relative;
  background: #121212 none repeat scroll 0 0;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#banner .links .groups_list a.my_groups_link {
  float: right;
}

#banner .links .groups_list #my_groups {
  position: absolute;
  top: 30px;
  left: 0;
  width: 230px;
  background: #121212 none repeat scroll 0 0;
  color: white;
  font-weight: normal;
}

#banner .links .groups_list #my_groups ul {
  list-style-type: none;
}

#banner .links .groups_list #my_groups ul li:hover {
}

#banner .links .groups_list #my_groups ul li{
  padding: 5px 10px;
  opacity: 1;
}

#banner .links a,
#banner .links a:visited {
  color: white;
}

#columns {
  min-height: 300px;
  width: 96%;
  padding: 0 2%;
}

#main {
  min-height: 300px;
  width: 82.4%;
  width: 100%;
  background-color: white;
  color: #121212;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
}

#main #title_box {
  padding: 10px;
  border-bottom: 1px solid #121212;
}

#main #title_box #title_actions{
  float: right;
}

#main div#title_box #title_actions a {
  display:block;
  font-size:1.1em;
  font-weight:bold;
  padding:5px 10px;
}

#main div#title_box #title_name h1{
  font-size:1.8em;
  font-weight: bold;
  margin:5px 0;
  padding:0;
}

#main #inner_content {
  padding: 20px;
  width: 95%;
}

#side {
  float: left;
  padding-left: 6px;
  width: 17%;
  color: #FFF;
  font-size: 1em;
  min-height: 300px;
}

#side a {
  color: #bfb;
  font-size: small;
}

#overview_groups ul{
  padding: 0 0 10px 10px;
}

/* The error box */

.fieldWithErrors input {
  border: 3px solid red;
  display: table;
  float: left;
  padding: 3px;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
  list-style-position: inside;
}

#notice {
  padding: 0.5em 1em;
  margin-bottom: 10px;
  background-color: #FFFFBB;
  font: bold large sans-serif;
  color: #1B314F;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

#error {
  border: 1px solid #DD3C10;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #FFEBE8;
  font: bold smaller sans-serif;
}

th, td {
  text-align: left;
}

table {
  border-collapse: collapse;
}

.righted {
  float: right !important;
}

.lefted {
  float: left !important;
}