/* 
    Document   : pages
    Created on : 3 Oct, 2009, 8:02:04 PM
    Author     : mrudhu
    Description: Specific to individual pages
*/

/************** Pay Structure ****************************************/
#pay_structure {
  margin-top: 20px;
  background: #FFFF99 none repeat scroll 0 0;
  color: #994433;
  width: 98%;
}

#pay_structure .title{
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px;
  float: left;
}

#pay_structure span.trans_user{
  margin-left: 25px;
  float: left;
}

#pay_structure span.label{
  float:left;
}

#pay_structure div.transactions{
  float:left;
}

#full_pay_details{
  background-color: #FFFF99;
}

#items_list	{
  border: 1px solid #9F9F9F;
  width: 97%;
  font-size: 1em;
}

/*************************** Group Show ***************************************/
#group_show .group_details{
  margin-bottom: 10px;
}

#group_show .group_details div{
  width: 100%;
  float: left;
  margin: 0 0 5px 0;
}

#group_show .group_details span{
  float: left;
  color: #337733;
  font-weight: bold;
  margin: 5px 5px 0px 0px;
  width: 100%;
}

#group_show .group_details table th.label_names span{
    width: auto;
}

#group_show .group_details table#group_details_table{
  width: 300px;
  float: left;
}

 #group_show .group_details table span.payer{
  color: #AA0000;

}

/*************************** Common Items *************************************/
#common_items_table{
  width: 97%;
  font-size: 1em;
  border-color: #aaa;
}

#common_items_table td{
  padding: 4px;
}

#common_items_table tr.full_stats{
  color:#000099;
  font-weight:bold;
}

#common_items_table tr.header{
  font-weight:bold;
}

/*************************** New Common Item **********************************/
#new_common_item div.label_item{
  float: left;
  clear: left;
  margin: 5px 0;
}

#new_common_item label {
  width: 100px;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block;
}

#new_common_item .submit {
  margin-left: 5.5em;
}

#new_common_item .label_item a#select,
#new_common_item .label_item a#unselect{
  margin-left: 110px;
}

#new_common_item div.label_item div.group_users_list{
  float:left;
  width: 85%;
}

#new_common_item div.label_item span.group_user{
  float:left;
  position:relative;
  top:-4px;
  margin-right: 10px;
}

#new_common_item div.label_item span.group_user input{
  position: relative;
  top: 3px;
}
/*************************** User Show ****************************************/
#user_show ul li.groups_list{
  margin-left: 20px;
}

#user_show div{
  float: left;
  width: 60%;
  margin: 10px;
}

/*************************** Group Show ***************************************/
#group_show input[type="text"]{
    border-color: green;
  }

 #group_show input[type="submit"]{
    background-image:url(/images/icon-add.gif);
    background-repeat: no-repeat;
    background-color: #336633;
    padding: 0px 1px 0px 22px;
    border-color: #336633;
    color: white;
    font-size: 14px;
    font-weight: bold;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
  }