/* 
    Document   : pages
    Created on : 3 Oct, 2009, 8:02:04 PM
    Author     : mrudhu
    Description: Specific to individual pages
*/

/************** Pay Structure ****************************************/
#pay_structure {
  background: #FFFF99 none repeat scroll 0 0;
  color: #994433;
  width: 98%;
}

#pay_structure .title{
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px;
  float: left;
}

#pay_structure span.trans_user{
  margin-left: 25px;
  float: left;
}

#pay_structure span.label{
  float:left;
}

#pay_structure div.transactions{
  float:left;
}

#full_pay_details{
  background-color: #FFFF99;
}

#items_list	{
  border: 1px solid #9F9F9F;
  width: 97%;
  font-size: 1em;
}

/*************************** Group Show ***************************************/
#group_show .group_details{
  margin-bottom: 10px;
}

#group_show .group_details table th.label_names span{
    width: auto;
}

#group_show .group_details table span.payer {
  color: #AA0000;
}

#group_show .pagination_details{
  float: right;
  width: 70%;
  text-align: right;
}

#group_show input[type="submit"] {
  font-size: 1em;
  font-weight: bold;
}

table.group_status {
  width: 40%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
}

table.group_status th {
  background: #ddd;
  padding: 3px 5px;
}

table.group_status td {
  padding: 3px 8px;
}

/*************************** Common Items *************************************/
#common_items_table{
  width: 97%;
  border-color: #aaa;
}

#common_items_table th {
  background: #ddd;
  padding: 3px 5px;
}

#common_items_table td{
  padding: 0 4px;
}

#common_items_table tr.full_stats{
  color:#000099;
  font-weight:bold;
}

#common_items_table tr.header{
  font-weight:bold;
}

div.group_details {
   background: #EFEEFE;
  padding: 10px;
  width: 100%;
}

div.admin_actions {
  background: #eaeaea;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}

div.admin_actions span{
  float: left;
}

/*************************** New Common Item **********************************/
#new_common_items legend{
  background: #115566 none repeat scroll 0 0;
  color: white;
  padding: 2px 5px;
}

#new_common_item div.label_item{
  float: left;
  clear: left;
  margin: 5px 0;
  width: 100%;
}

#new_common_item label {
  width: 100px;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block;
}

#new_common_item .submit {
  margin-left: 5.5em;
}

#new_common_item .label_item a#select,
#new_common_item .label_item a#unselect{
  float: left;
  clear: left;
}

#new_common_item div.label_item div.group_users_list{
  float:left;
  width: 85%;
}

#new_common_item div.label_item span.group_user{
  float:left;
  position:relative;
  top:-4px;
  margin-right: 10px;
}

#new_common_item div.label_item span.group_user input{
  position: relative;
  top: 3px;
}
/*************************** User Show ****************************************/
#user_show ul li.groups_list{
  margin-left: 20px;
}

#user_show div{
  float: left;
  width: 60%;
  margin: 10px;
}

/*****************************Groups Index ************************************/
#groups .group .group_header {
  width: 100%;
  padding: 5px 10px;
  background: #eee;
  margin-bottom: 10px;
}

#groups .group_header h2 {
  float: left;
  margin: 5px;
}
