/* 
    Document   : pages
    Created on : 3 Oct, 2009, 8:02:04 PM
    Author     : mrudhu
    Description: Specific to individual pages
*/

#login {
  width: 425px;
  margin: 50px auto;
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px;
  padding-top: 25px;
}

#login #user_session_submit {
  margin-right: 10px;
}

#login span {
  margin-left: 45px;
  margin-bottom: 10px;
}

#login form {
  margin-top: 20px;
}

#login form div.field {
  margin: 10px 0;
  clear: both;
  width: 98%;
}

#login input[type=text],
#login input[type=password] {
  float: none;
}

/************** Pay Structure ****************************************/
#pay_structure {
  background: #ffff99 none repeat scroll 0 0;
  padding: 10px;
  color: #121212;
  width: 38%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#pay_structure h3.small_view {
  margin: 0;
}

#pay_structure .title{
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px;
  float: left;
}

#pay_structure span.trans_user{
  margin-left: 25px;
  float: left;
}

#pay_structure span.label{
  float:left;
}

#pay_structure div.transactions{
  margin-top: 10px;
}

#full_pay_details{
  background-color: #FFFF99;
  min-width: 40%;
}

#full_pay_details th,
#full_pay_details td {
  padding: 5px 10px;
}

#items_list	{
  border: 1px solid #9F9F9F;
  width: 97%;
  font-size: 1em;
}

/*************************** Group Show ***************************************/
#group_show .group_details{
  margin-bottom: 10px;
}

#group_show .group_details table th.label_names span{
    width: auto;
}

#group_show .group_details table span.payer {
  color: #AA0000;
}

#group_show .pagination_details{
  float: right;
  width: 70%;
  text-align: right;
}

#group_show input#common_item_transaction_date {
  float: left;
  width: 100px;
  margin-right: 5px;
}

#group_show input[type="submit"] {
  font-size: 1em;
  font-weight: bold;
  float: left;
  margin-left: 5px;
}

table.group_status {
  width: 40%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
}

table.group_status th {
  background: #ddd;
  padding: 3px 5px;
}

table.group_status td {
  padding: 3px 8px;
}

/*************************** Common Items *************************************/
#common_items_table{
  width: 97%;
  border-color: #aaa;
}

#common_items_table th {
  background: #ddd;
  padding: 3px 5px;
}

#common_items_table th.date {
  width: 190px;
}

#common_items_table td{
  padding: 4px;
}

#common_items_table tr.full_stats{
  color:#000099;
  font-weight:bold;
}

#common_items_table tr.header{
  font-weight:bold;
}

div.group_details {
  background: #EFEEFE;
  width: 100%;
  padding: 10px;
}

div.admin_actions {
  background: #eaeaea;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}

div.admin_actions span{
  float: left;
}

/*************************** New Common Item **********************************/
#new_common_items legend{
  background: #115566 none repeat scroll 0 0;
  color: white;
  padding: 2px 5px;
}

#new_common_item div.label_item{
  float: left;
  clear: left;
  margin: 5px 0;
  width: 100%;
}

#new_common_item label {
  width: 150px;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block;
}

#new_common_item div.label_item input,
#new_common_item div.label_item select{
  margin-bottom: 10px;
}

#new_common_item .submit {
  margin-left: 5.5em;
}

#new_common_item .label_item a#select,
#new_common_item .label_item a#unselect{
  float: left;
  clear: left;
}

#new_common_item div.label_item div.group_users_list{
  float:left;
  width: 85%;
}

#new_common_item div.label_item span.group_user{
  float:left;
  position:relative;
  top:-4px;
  margin-right: 10px;
}

#new_common_item div.label_item span.user_with_box{
  float: left;
  margin-right: 20px;
}

#new_common_item div.label_item span.group_user input{
  position: relative;
  top: 3px;
  margin-right: 0px;
}
/*************************** User Show ****************************************/
#user_show ul li.groups_list{
  margin-left: 20px;
}

#user_show div{
  float: left;
  width: 60%;
  margin: 10px;
}

/*****************************Groups Index ************************************/
#groups .group {
  margin: 2em 0;
}

#groups .group .group_header {
  width: 100%;
  padding: 7px 0;
  background: #eee;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border: 1px solid #bbb;
}

#groups .group_header h2 {
  float: left;
  margin: 5px;
  margin-left: 10px;
}

#groups .group_header a.button {
  margin-right: 10px;
}

#groups .group .group_body {
  width: 100%;
  border: 1px solid #bbb;
  border-top: none;
}

#groups .group .group_body #pay_structure {
  margin: 10px;
}