<% if group_user.group.group_users.count > 1 %>
  <% if full_view %>
    <% pay_structure = PaySystem.new(group_user) %>
    <% pay_structure.calculate %>
    <% pay_structure.payers.keys.each do |group_user_id| %>
      <% group_user = GroupUser.find(group_user_id) %>
      <div id="pay_structure" class="clearfix">
        <span class="title"> <%= group_user.user.name %> </span>
        <%= transaction_statement(group_user) %>
      </div>
    <% end %>

  <% else %>
    <div id="pay_structure" class="clearfix">
      <span> Suggested transaction: </span><br>
      <%= transaction_statement(group_user) %>
    </div>
  <% end %>
<% end %>

<style>
#pay_structure {
  margin-top: 20px;
  background: #FFFF99 none repeat scroll 0 0;
  color: #994433;
  width: 98%;
}

#pay_structure span.trans_user{
  margin-left: 25px;
  float: left;
}
</style>