.calendar_container {
  color: #000000;
  font-family: tahoma, verdana, helvetica;
  font-size: 11px;
  height: 0;
  left: -200px;
  position: relative;
  text-align: center;
  top: 23px;
  width: 0;
}

.calendar_container table {
  font-family: tahoma, verdana, helvetica;
  font-size: 11px;
  text-align: center;
  margin: auto;
  width: 100%;
  height: 100%;
}

#calendar_layout {
  background-color: #FFFFFF;
  border: 1px solid #886644;
  width: 180px;
}

#calendar_layout .calendar_title {
  font-weight: bold;
  height: 20px;
  background: #886644 none repeat scroll 0 0;
  color: #FFFFFF;
}

#calendar_layout .calendar_title a {
  color: #666666;
  cursor: pointer;
  display: block;
  margin: 1px 0 0 1px;
  padding: 4px 2px;
}

#calendar_layout .float_left{
  float: left;
}

#calendar_layout .float_right{
  float: right;
}

#calendar_layout .text_center{
  text-align: center;
}

#calendar_layout .calendar_body {
  margin: auto;
  overflow: hidden;
  max-height: 150px;
  position: relative;
  width: 180px;
}

#calendar_layout .calendar_footer{
  color: #886644;
  margin: 5px;
  text-align: center;
}

#calendar_layout th {
  background: #BBAA88 none repeat scroll 0 0;
  border-bottom: 1px solid #3B5998;
  color: #FFFFFF;
  font-size: 9px;
  font-weight: bold;
  margin-bottom: 1px;
  padding: 3px 2px;
  text-align: center;
}

#calendar_layout .calendar_day_diff_month {
  display: none;
}

#calendar_layout td{
  padding: 0px !important;
}

#calendar_layout .calendar_day {
  padding: 2px;
  cursor: pointer;
  height: 16px;
  text-align: center;
  width: 16px;
}

#calendar_layout .calendar_day:hover{
  background-color: #DDCFA6;
}

#calendar_layout .calendar_day_old_date {
  color: gray;
  padding: 2px;
  cursor: default;
  height: 16px;
  text-align: center;
  width: 16px;
}

#calendar_layout .selected{
  background-color: #DDDDDD;
  font-weight: bold;
}

#divCalendar {
  z-index: 10000;
}

.calendar {
  cursor: pointer;
  float: left;
}
